<!DOCTYPE html>
<html>

<head lang ="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="cleartype" content="on">
	<link rel="icon" type="image/x-icon" href="favicon.ico">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/daily_puzzle_stylesheet.css">
	<link rel="stylesheet" href="css/sudoku.css">
	<link rel="stylesheet" href="css/timer.css">
	<script src="js/jquery.js"></script>
	<script src="js/jquery-cookie.js"></script>
	<script src="js/timer.js"></script>
	<script src="js/sudoku.js"></script>
	<script src="js/load-puzzle.js"></script>
</head>

<body>
	<div class="header">
		<figure>
			<a href="index.html" title="Play Free Sudoku" rel="home">
			<img src="images/Sudoku.png" height="100" width="400" alt> </a>
		</figure>
	</div>

	<div class="navbar">
		<a href="index.html" class="left">Home</a>
		<a href="learn_sudoku.html" class="left">Learn Sudoku</a>
		<a href="leaderboard.html" class="left">Leaderboard</a>
		<a href="daily_puzzle.html" class="left active">Daily Puzzle</a>
	</div>

	<div class="row">
		<section class="main">
			<a href="#"></a>
			<div style="overflow: auto;">
			<div id="game-container" style="float:left"></div>
			<div class="dropdown" style="float:none;display:inline">
				<button class="dropbtn" >Difficulty</button>
					<div class="dropdown-content" style="float:none;display:inline">
						<a href="#">Easy</a>
						<a href="#">Medium</a>
						<a href="#">Hard</a>
					</div>
				</div>
			</div>
			<div id = "timer-container">
				<span id = "hours" class = "timer-num">00</span>
				<span id = "minutes" class = "timer-num">00</span>
				<span id = "seconds" class = "timer-num">00</span></br/>

				<span id = "hours-label" class = "timer-label">Hours</span>
				<span id = "minutes-label" class = "timer-label">Minutes</span>
				<span id = "seconds-label" class = "timer-label">Seconds</span>
			</div>
			<div id="controls" class="sudoku-controls">
					<button id="solve">Solve</button>
					<button id="validate">Validate Board</button>
					<button id="pause">Pause</button>
					<button id="reset">Reset</button>
				</div>
		</section>
	</div>
</body>

<footer>
	<div class="footer">
		<nav>
			<a href="about_us.html">About Us</a>
		</nav>
		<p> Copyright © 2018 SudoCrew </p>
	</div>
</footer>

</html>