<!DOCTYPE html>
<html>

<head lang ="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="cleartype" content="on">
	<title>SUDOKU | Puzzle</title>
	<link rel="icon" type="image/x-icon" href="favicon.ico">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/index_stylesheet.css">
	<link rel="stylesheet" href="css/register_stylesheet.css">
	<link rel="stylesheet" href="css/login_stylesheet.css">
	<link rel="stylesheet" href="css/solved_puzzle.css">
	<link rel="stylesheet" href="css/psw_reset.css">
	<link rel="stylesheet" href="css/sudoku.css">
	<link rel="stylesheet" href="css/timer.css">
	<script src="js/jquery.js"></script>
	<script src="js/jquery-cookie.js"></script>
	<script src="js/timer.js"></script>
	<script src="js/sudoku.js"></script>
	<script src="js/load-puzzle.js"></script>
</head>

<body>
	<div class="header">
		<figure>
			<a href="index.html" title="Play Free Sudoku" rel="home">
			<img src="images/Sudoku.png" height="100" width="400" alt> </a>
		</figure>
	</div>

	<div class="navbar">
		<a href="/" id="home" class="left active">Home</a>
		<a href="/learn" class="left">Learn Sudoku</a>
		<a href="/leaderboard" class="left">Leaderboard</a>
		<a id="daily" href="#" class="left">Daily Puzzle</a>

		<span class="loggedout">
			<a href="#" class="right">
				<button class="btn2" onclick="document.getElementById('id02').style.display='block'" style="width:auto;">Register</button>
			</a>
			<a href="#" class="right">
				<button class="btn1" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>
			</a>
		</span>

		<span class="loggedin">
			<span class="welcome">Welcome, <span class="username"></span></span>
			<a href="/logout" class="right">
				<button class="btn2" id="logout">Logout</button>
			</a>
		</span>
	</div>

	<div id="id01" class="modal">
		<form class="modal-content animate" method="POST" action="/login">
			<div class="imgcontainer">
				<span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
				<img src="images/avatar.png" alt="Avatar" class="avatar">
			</div>

			<div class="container">
				<label for="username"><b>Username:</b></label>
					<input class="input1" type="text" placeholder="Enter Username" name="username" required>
				<label for="psw"><b>Password:</b></label>
					<input class="input1" type="password" placeholder="Enter Password" name="psw" required>
				<button class="btn1" type="submit">Login</button>
				<label>
					<input type="checkbox" checked="checked" name="remember"> Remember me
				</label>
			</div>

			<div class="container" style="background-color:#f1f1f1">
				<button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
				<span class="psw"><a href="#" onclick="document.getElementById('id03').style.display='block'">Forgot password?</a></span>
			</div>
		</form>
	</div>

	<div id="id02" class="modal2">
		<form class="modal2-content" method="POST" action="/register">

			<div class="imgcontainer">
				<span onclick="document.getElementById('id02').style.display='none'" class="close2" title="Close Modal">&times;</span>
			</div>

			<div class="container2">

				<h2>Sign Up</h2>
				<p>Please fill in this form to create an account:</p>
					<hr>
				<label for="username"><b>Username:</b></label>
					<input class="input2" type="text" placeholder="Enter Username" name="username" required>
				<label for="email"><b>Email:</b></label>
					<input class="input2" type="text" placeholder="Enter Email" name="email" required>
				<label for="psw"><b>Password:</b></label>
					<input class="input2" type="password" placeholder="Enter Password" name="psw" required>
				<label for="psw-confirm"><b>Confirm Password:</b></label>
					<input class="input2" type="password" placeholder="Confirm Password" name="pswconf" required>
				<label>
					<input class="input2" type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
				</label>

				<p>By creating an account you agree to our undocumented terms and conditions.</p>

				<div class="clearfix">
					<button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn2">Cancel</button>
					<button type="submit" class="registerbtn">Register</button>
				</div>
			</div>
		</form>
	</div>

	<div id="id03" class="modal3">
		<form class="modal3-content" method="POST" action="/register">

			<div class="imgcontainer">
				<span onclick="document.getElementById('id03').style.display='none'" class="close3" title="Close Modal">&times;</span>
			</div>

			<div class="container3">
				<h2>Please enter your email to reset your password</h2>
					<hr>
				<label for="email"><b>Email:</b></label>
					<input class="input3" type="text" placeholder="Enter Email" name="email" required>
				</label>

				<div class="clearfix">
					<button type="button" onclick="document.getElementById('id03').style.display='none'" class="cancelbtn3">Cancel</button>
					<button type="submit" class="submitbtn">Submit</button>
					<p>If the given email is associated with an account, an email will be sent to it with a link to reset your password.</p>
				</div>
			</div>
		</form>
	</div>

	<div id="id04" class="modal-solved animate">
		<form class="modal-solved-content" method="GET" action="/">
			<div class="imgcontainer">
				<span onclick="document.getElementById('id04').style.display='none'" class="close-solved" title="Close Modal">&times;</span>
			</div>

			<div class="container-solved">
				<h2>CONGRATULATIONS!</h2><br/>
				<p>You solved the puzzle in <span id="solve-time"></span>.</p><br/>
				<p id="request-login"></p><br/>

				<div class="clearfix">
					<button type="submit" class="submitbtn">New Puzzle</button>
					<button type="button" class="cancelbtn2" onclick="window.location='/leaderboard'">View Leaderboard</button>
				</div>
			</div>
		</form>
	</div>

	<div class="row">
		<div id="dummy-game-container"></div>
		<script>
			$( "#dummy-game-container" ).append( buildDummyTable );
		</script>
		<div id="game-container" class="hidden"></div>
		<div class="dropdown">
			<button class="dropbtn">Difficulty</button>
			<div class="dropdown-content">
				<a id="new-easy" href="#">Easy</a>
				<a id="new-medium" href="#">Medium</a>
				<a id="new-hard" href="#">Hard</a>
			</div>
		</div>
		<div class="dropdown-type">
			<button class="dropbtn">Type</button>
			<div class="dropdown-content">
				<a id="new-normal" href="#">Normal</a>
				<a id="new-diagonal" href="#">Diagonal</a>
				<a id="new-big" href="#">Big</a>
			</div>
		</div>
	</div>

	<div id = "timer-container">
		<span id = "hours" class = "timer-num">00</span>
		<span id = "minutes" class = "timer-num">00</span>
		<span id = "seconds" class = "timer-num">00</span></br/>

		<span id = "hours-label" class = "timer-label">Hours</span>
		<span id = "minutes-label" class = "timer-label">Minutes</span>
		<span id = "seconds-label" class = "timer-label">Seconds</span>
	</div>
	<div id="controls" class="sudoku-controls">
		<button id="new-puzzle">New Puzzle</button>
		<button id="validate">Check Solution</button>
		<button id="pause">Pause</button>
		<button id="reset">Reset</button>
	</div>

</body>

<footer>
	<div class="footer">
		<nav>
			<a href="about_us.html">About Us</a>
		</nav><br />
		<p> Copyright © 2018 SudoCrew </p>
	</div>
</footer>

<script>
	$( document ).ready( function() {
		var loginErr = findGetParameter('badLogin');
		var regErr = findGetParameter('badReg');

		if(loginErr === '1') {
			alert('Bad login (username or password invalid)');
		} else if(loginErr === '2') {
			alert('An unexpected error has occured. Please try again later.');
		}

		if(regErr === '1') {
			alert('Username has already been taken!');
		} else if(regErr === '2') {
			alert('An unexpected error has occured. Please try again later.');
		}
	});

	function findGetParameter(parameterName) {
		var result = null,
			tmp = [];
		location.search
			.substr(1)
			.split("&")
			.forEach(function (item) {
			tmp = item.split("=");
			if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
			});
		return result;
	}
</script>

</html>