<!DOCTYPE html>
<html>

<head lang ="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="cleartype" content="on">
	<link rel="stylesheet" href="assets/css/reset.css">
	<link rel="stylesheet" href="assets/css/index_stylesheet.css">
	<link rel="stylesheet" href="assets/css/register_stylesheet.css">
	<link rel="stylesheet" href="assets/css/login_stylesheet.css">
	<link rel="stylesheet" href="assets/css/psw_reset.css">
</head>

<body>
	<div class="header">
		<figure>
			<a href="index.html" title="Play Free Sudoku" rel="home"> 
			<img src="assets/images/Sudoku.png" height="100" width="400" alt> </a> 
		</figure>
	</div>
	
	<div class="navbar">
		<a href="learn_sudoku.html" class="left active">Home</a>
		<a href="learn_sudoku.html" class="left">Learn Sudoku</a>
		<a href="leaderboard.html" class="left">Leaderboard</a>
		<a href="#" class="left">Daily Puzzle</a>
		<div class="dropdown">
			<button class="dropbtn">Difficulty</button>
				<div class="dropdown-content">
				<a href="#">Easy</a>
				<a href="#">Medium</a>
				<a href="#">Hard</a>
				</div>
		</div>
		<a href="#" class="right">
			<button class="btn2" onclick="document.getElementById('id02').style.display='block'" style="width:auto;">Register</button>
		</a>
		<a href="#" class="right">
			<button class="btn1" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>
		</a>
	</div>
	
	<div id="id01" class="modal">
		<form class="modal-content animate" method="POST" action="/login">
			<div class="imgcontainer">
				<span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
				<img src="assets/images/avatar.png" alt="Avatar" class="avatar">
			</div>

			<div class="container">
				<label for="username"><b>Username:</b></label>
					<input class="input1" type="text" placeholder="Enter Username" name="username" required>
				<label for="psw"><b>Password:</b></label>
					<input class="input1" type="password" placeholder="Enter Password" name="psw" required>
				<button class="btn1" type="submit">Login</button>
				<label>
					<input type="checkbox" checked="checked" name="remember"> Remember me
				</label>
			</div>

			<div class="container" style="background-color:#f1f1f1">
				<button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
				<span class="psw"><a href="#" onclick="document.getElementById('id03').style.display='block'">Forgot password?</a></span>
			</div>
		</form>
	</div>
	
	<div id="id02" class="modal2">
		<form class="modal2-content" method="POST" action="/register">
			
			<div class="imgcontainer">
				<span onclick="document.getElementById('id02').style.display='none'" class="close2" title="Close Modal">&times;</span>
			</div>
			
			<div class="container2">
				
				<h2>Sign Up</h2>
				<p>Please fill in this form to create an account:</p>
					<hr>
				<label for="email"><b>Email:</b></label>
					<input class="input2" type="text" placeholder="Enter Email" name="email" required>
				<label for="psw"><b>Password:</b></label>
					<input class="input2" type="password" placeholder="Enter Password" name="psw" required>
				<label for="psw-confirm"><b>Confirm Password:</b></label>
					<input class="input2" type="password" placeholder="Confirm Password" name="psw-confirm" required>
				<label>
					<input class="input2" type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
				</label>

				<p>By creating an account you agree to our <a href="#" style="color:blue">Terms & Privacy</a>.</p>

				<div class="clearfix">
					<button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn2">Cancel</button>
					<button type="submit" class="registerbtn">Register</button>
				</div>
			</div>
		</form>
	</div>
	
	<div id="id03" class="modal3">
		<form class="modal3-content" method="POST" action="/register">
			
			<div class="imgcontainer">
				<span onclick="document.getElementById('id03').style.display='none'" class="close3" title="Close Modal">&times;</span>
			</div>
			
			<div class="container3">
				<h2>Please enter your email to receive your password.</h2>
					<hr>
				<label for="email"><b>Email:</b></label>
					<input class="input3" type="text" placeholder="Enter Email" name="email" required>
				</label>

				<div class="clearfix">
					<button type="button" onclick="document.getElementById('id03').style.display='none'" class="cancelbtn3">Cancel</button>
					<button type="submit" class="submitbtn">Submit</button>
					<p>A confirmation email with your password was sent to the email provided above.</p>
				</div>
			</div>
		</form>
	</div>
	
	<div class="row">
		<section class="main"><a href="#"></a></section>
	</div>				
</body>

<footer>
	<div class="footer">
		<nav>
			<a href="#">About Us</a>
		</nav>
		<p> Copyright © 2018 Wentworth Institute of Technology </p>
	</div>
</footer>

</html>