<!DOCTYPE html>
<html>

<head lang ="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="cleartype" content="on">
	<link rel="stylesheet" href="assets/css/reset.css">
	<link rel="stylesheet" href="assets/css/learn_sudoku_stylesheet.css">
	<link rel="stylesheet" href="assets/css/tables.css">
</head>

<body>
	<div class="header">
		<div class="figure_logo">
			<a href="index.html" title="Play Free Sudoku" rel="home"> 
			<img src="assets/images/Sudoku.png" height="100" width="400" alt> </a> 
		</figure>
	</div>
	
	<div class="navbar">
		<a href="index.html" class="left">Home</a>
		<a href="learn_sudoku.html" class="left">Learn Sudoku</a>
		<a href="leaderboard.html" class="left active">Leaderboard</a>
		<a href="#" class="left">Daily Puzzle</a>
	</div>
	
	<section>
	<div class="table" style="overflow-x:auto;">
		<table id="leaders">
			<tbody>
			<tr>
				<th> # </th>
				<th> Username </th>
				<th> Time </th>
				<th> Date </th>
			</tr>	
			<tr class="c1">
				<td>1 &nbsp;&nbsp;&nbsp;</td>
				<td>User</td>
				<td>0:00</td>
				<td>xx/xx/xxxx</td>
			</tr>
			<tr class="c2">
				<td>2 &nbsp;&nbsp;&nbsp;</td>
				<td>User</td>
				<td>0:00</td>
				<td>xx/xx/xxxx</td>
			</tr>
			<tr class="c1">
				<td>3 &nbsp;&nbsp;&nbsp;</td>
				<td>User</td>
				<td>0:00</td>
				<td>xx/xx/xxxx</td>
			</tr>
			<tr class="c2">
				<td>4 &nbsp;&nbsp;&nbsp;</td>
				<td>User</td>
				<td>0:00</td>
				<td>xx/xx/xxxx</td>
			</tr>
			<tr class="c1">
				<td>5 &nbsp;&nbsp;&nbsp;</td>
				<td>User</td>
				<td>0:00</td>
				<td>xx/xx/xxxx</td>
			</tr>
			<tr class="c2">
				<td>6 &nbsp;&nbsp;&nbsp;</td>
				<td>User</td>
				<td>0:00</td>
				<td>xx/xx/xxxx</td>
			</tr>
			<tr class="c1">
				<td>7 &nbsp;&nbsp;&nbsp;</td>
				<td>User</td>
				<td>0:00</td>
				<td>xx/xx/xxxx</td>
			</tr>
			<tr class="c2">
				<td>8 &nbsp;&nbsp;&nbsp;</td>
				<td>User</td>
				<td>0:00</td>
				<td>xx/xx/xxxx</td>
			</tr>
			<tr class="c1">
				<td>9 &nbsp;&nbsp;&nbsp;</td>
				<td>User</td>
				<td>0:00</td>
				<td>xx/xx/xxxx</td>
			</tr>
			<tr class="c2">
				<td>10 &nbsp;&nbsp;&nbsp;</td>
				<td>User</td>
				<td>0:00</td>
				<td>xx/xx/xxxx</td>
			</tr>
			</tbody>
		</table>
	</div>
	</section>
	
</body>

<footer>
	<div class="footer">
		<nav>
			<a href="#">About Us</a>
		</nav>
		<p> Copyright © 2018 Wentworth Institute of Technology </p>
	</div>
</footer>

</html> 