<!DOCTYPE html>
<html>

<head lang ="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="cleartype" content="on">
	<link rel="icon" type="image/x-icon" href="favicon.ico">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/learn_sudoku_stylesheet.css">
	<link rel="stylesheet" href="css/tables.css">
</head>

<body>
	<div class="header">
		<div class="figure_logo">
			<a href="index.html" title="Play Free Sudoku" rel="home">
			<img src="images/Sudoku.png" height="100" width="400" alt> </a>
		</figure>
	</div>

	<div class="navbar">
		<a href="index.html" class="left">Home</a>
		<a href="learn_sudoku.html" class="left">Learn Sudoku</a>
		<a href="leaderboard.html" class="left active">Leaderboard</a>
		<a href="daily_puzzle.html" class="left">Daily Puzzle</a>
	</div>

	<section>
	<div class="table" style="overflow-x:auto;">
		<table id="leaders">
			<tbody>
			<tr>
				<th> # </th>
				<th> Time </th>
				<th> Username </th>
				<th> Type </th>
				<th> Difficulty </th>
				<th> Date </th>
			</tr>
			<tr class="c1">
				<td>1 &nbsp;&nbsp;&nbsp;</td>
				<td>5:35</td>
				<td>User</td>
				<td>Normal</td>
				<td>Hard</td>
				<td>04/05/2018</td>
			</tr>
			</tbody>
		</table>
	</div>
	</section>

</body>

<footer>
	<div class="footer">
		<nav>
			<a href="about_us.html">About Us</a>
		</nav>
		<p> Copyright © 2018 SudoCrew </p>
	</div>
</footer>

</html>